<header>
  <div class="fullscreen-bg">
    <%= video_tag "SOFLESLIMITLESS.mp4", :id => "vid1", :class => "fullscreen-bg__video", :controls => false, :autoplay => true, :muted => true, :loop => true %>
    <div class="introimage">
      <%= link_to (image_tag "GrainStation.png", :height => "350px", :alt => "Grain Station Logo") %>
    </div>
  </div>
</header>
