@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Droid+Serif|Kaushan+Script|Montserrat);
@import "menu";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui";
@import "agency";
@import "pages";
@import "ontap";

section{
  min-height: 800px;
}

@media screen
  and (min-height: 300px)
  and (orientation: portrait) {
  font-size: 2em;
  section{
    min-height: 1500px;
  }
}
